page-departamento {

}


/*---------------botones artistas PERFIL------------------*/
.content-fotos-departamento {
	 display:flex;
	 width:100%;
	//flex-wrap: wrap;
	 max-height :7% !important;
     height :5% !important;
	// background-color:red;
}
/*.content-fotos-departamento img{
	height :100% !important;

}*/
/*.content-fotos-departamento img  {
	width:33%;  //original
	height:auto !important;
	//width:50%;
	flex-shrink: 0;
	//border: 1px solid #ffcc29 ;
	//padding: 9pt  7pt 7pt 7pt ;
	color: #ededed;
	font-family: 'gotham-light';
	font-size: 1.3rem;
	line-height: 1.5rem;
	background-color: white;
	display:flex;
	justify-content :center;
}*/

.eslogan {

	font-size: 12pt;
}

.textoMunicipio{
	border-left:none;
    border-right:none;
    border-top:none;
   // border-bottom:solid #838383 1px;
    margin-top:10px !important;

}


.iconoGuardadoSitio {
	width:20px;
	height:20px;
	content : url('../assets/icon/Amarillo/favorito.png');
}


.iconoNoGuardadoSitio {
	width:20px;
	height:20px;
	content : url('../assets/icon/Amarillo/noFavorito.png');
}
.iconoCompartirSitio {
	width:20px;
	height:20px;
	content : url('../assets/icon/Amarillo/compartir.png');
}

h6 .linea{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px  #838383; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 


.img-circle-departamento {
	border-radius: 50% !important;
	width: 30%  !important;
	height: 60% !important;
	margin: 3pt;
	overflow:hidden;
	//left :10% ;
	//background-color:red;
}


.image-cropper {
	margin: 3pt;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}