	<!--
  Generated template for the FavoritosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorAmarillo">
  	<button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title color="colorBlanco">favoritos</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="content-botones-perfil">
      <!--<button [ngClass]="{'activo' : menuSelect === 'mistatuajes'  }"   (click)="selectTab('mistatuajes')" >Mis tatuajes</button>-->
      <button [ngClass]="{'activo' : menuSelect === 'noticias'  }" (click)="selectTab('noticias')">Noticias</button>
       <button [ngClass]="{'activo' : menuSelect === 'eventos'  }" (click)="selectTab('eventos')">Eventos</button>
       <button [ngClass]="{'activo' : menuSelect === 'municipios'}" (click)="selectTab('municipios')">Municipios</button>
        <button [ngClass]="{'activo' : menuSelect === 'sitios'}" (click)="selectTab('sitios')">Sitios interes </button>


       
    </div>





	<div [ngSwitch]="menuSelect">

	  <ion-list *ngSwitchCase="'noticias'">
	   <!-- <ion-item  *ngFor="let item of noticias">
	      <ion-thumbnail item-start>
	        <img [src]="item.noticia.urlImagen">
	      </ion-thumbnail>
	      <h2>{{item.noticia.tituloNoticia}}</h2>
	    </ion-item>-->

	    
			  <ion-item  *ngFor="let item of noticias" >
			    <ion-thumbnail item-start (click)="detalleNoticia(item.noticia)">
			      <img [src]="item.noticia.urlImagen">
			    </ion-thumbnail>
			    <p class="fuente-morada">{{item.noticia.nombreUsuario}}</p>
			    <p>{{item.noticia.fechaNoticia}}</p>
			    <p>{{item.noticia.tituloNoticia}}</p>			    
			    <p>{{item.noticia.nombreMunicipio}}</p>


			    <!--<button ion-button clear item-end>V</button>-->
			  </ion-item>
		
	    
	    
	  </ion-list>

	  <ion-list *ngSwitchCase="'eventos'">
	    <ion-item *ngFor="let item of eventos">
	      <ion-thumbnail item-start (click)="detalleEvento(item.evento)">
	        <img [src]="item.evento.urlImagen">
	      </ion-thumbnail>
		      <p class="fuente-naranja">{{item.evento.nombreUsuario}}</p>
		      <p>{{item.evento.fechaInicio}} -{{item.evento.fechaFin}}</p>
		      <p>{{item.evento.tituloEvento}}</p>
		      <p>{{item.evento.nombreMunicipio}}</p>
	    </ion-item>
	   
	  </ion-list>


	  <ion-list *ngSwitchCase="'municipios'">
	      <ion-item *ngFor="let item of municipios">
	      <ion-thumbnail item-start (click)="detalleMunicipios(item.municipio)">
	        <img [src]="item.municipio.urlBandera">
	      </ion-thumbnail>
		      <p class="fuente-amarilla">{{item.municipio.municipio}}</p>
		      <p>Cundinamarca</p>
		    
	    </ion-item>
	  </ion-list>

 		<ion-list *ngSwitchCase="'sitios'">
	      <ion-item *ngFor="let item of sitios">
		      <ion-thumbnail item-start (click)="detalleSitio(item.sitio)">
		        <img [src]="item.sitio.urlImagen">
		      </ion-thumbnail>
			      <p class="fuente-amarilla">{{item.sitio.tituloSitio}}</p>
			      <p>{{item.sitio.direccion}}</p>
			      <p>{{item.sitio.nombreMunicipio}},Cundinamarca</p>
			    
		      </ion-item>
	   </ion-list>

	</div>


</ion-content>
