page-favoritos {

}


/*---------------botones artistas PERFIL------------------*/
.content-botones-perfil {
	display:flex;
	width:100%;
	flex-wrap: wrap;
}
.content-botones-perfil button {
	width:25%;  //original
	//width:50%;
	flex-shrink: 0;
	border: 1px solid #ffcc29 ;
	padding: 9pt  7pt 7pt 7pt ;
	
	font-family: 'gotham-light';
	font-size: 1.1rem;
	line-height: 1.3rem;
	


	background-color: #ffcc29;
    //color: #fff;
    color:black;
}
.content-botones-perfil button.activo {
    	background-color: white;
    //	color: #97999C;
    color:black;
}
