<!--
  Generated template for the CrearNoticiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Nueva noticia</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating>Titulo noticia</ion-label>
      <ion-input [(ngModel)]="tituloNoticia" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating>Descripción de la noticia</ion-label>
      <ion-textarea [(ngModel)]="descripcionNoticia" name="description"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class="contenedor">
    <div class="imagenCargaPerfil">
      <img *ngIf="fotoNoticia == '-'" (click)="cargarImagen('foto')" src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2Fcargar.png?alt=media&token=0abb191b-43b0-4d6f-83d6-e92de753b5bd">
    </div>
    <div class="imagenCargaPerfil">
      <img *ngIf="fotoNoticia == '-'" (click)="cargarImagen('galeria')" src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2Fsubir%20.png?alt=media&token=213ee309-9fe0-4fbe-88d2-2819435b452e">
    </div>
  </div>
  <div class="wrapper-perfil" *ngIf="fotoNoticia != '-'">
    <img class="img-circle-perfil" [src]="fotoNoticia">
  </div>


  <ion-item>
    <ion-label floating>Fecha</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="fechaNoticia"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Departamento</ion-label>
    <ion-select multiple="false" [(ngModel)]="uidDepartamento" (ionChange)="onSelecDepartamento()">
      <ion-option *ngFor="let muni of departamentos " value="{{muni.uid}}">{{muni.nombreDepartamento}}</ion-option>
    </ion-select>
  </ion-item>




  <ion-item>
    <ion-label floating>Municipio</ion-label>
    <ion-select multiple="false" [(ngModel)]="uidMunicipio">
      <ion-option *ngFor="let muni of municipios " value="{{muni.uid}}">{{muni.nombreMunicipio}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-button full (click)="publicarNoticia()">Publicar noticia</button>


</ion-content>
