<ion-header>
  <ion-navbar color="colorAmarillo">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar  color="colorAmarillo">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="irNoticias()">
        Noticias
      </button>
      <button ion-item (click)="irEventos()">
        Eventos
      </button>
      <button ion-item (click)="irAmarillas()">
        Amarillas
      </button>
      <button ion-item (click)="irEmpleos()">
        Empleos
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding>

    <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="irCrearNoticias()"><img  src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FNoticias.png?alt=media&token=0ddfa377-8706-4ab5-aef5-664acfae44bf" /></button>
       <button ion-fab (click)="irCreaEventos()"><img  src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FEventos.png?alt=media&token=f568b51d-42b8-49ed-b0ec-e6492f860065" /></button>
     <!-- <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>-->
    </ion-fab-list>
  </ion-fab>


  <div class="centrado">

    <div class="wrapper-perfil">

      <img class="img-circle-perfil" [src]="perfil.photoUrl">
    </div>
    <span class="fuente-10 fuente-centrado  "> {{perfil.nombreUsuario}} </span>

     <ion-item>
    <ion-label floating>Departamento</ion-label>
    <ion-select multiple="false" [(ngModel)]="uidDepartamento" (ionChange)="onSelecDepartamento()">
      <ion-option *ngFor="let muni of departamentos " value="{{muni.uid}}">{{muni.nombreDepartamento}}</ion-option>
    </ion-select>
  </ion-item>




  <ion-item>
    <ion-label floating>Municipio</ion-label>
    <ion-select multiple="false" [(ngModel)]="uidMunicipio">
      <ion-option *ngFor="let muni of municipios " value="{{muni.uid}}">{{muni.nombreMunicipio}}</ion-option>
    </ion-select>
  </ion-item>



    <div class="contenedor">
           <img  class="imagenLogo" (click)="irColombia()" src="assets/icon/Infomunicipios.png">     
            
           <img class="imagenLogo" (click)="irNoticias()" src="assets/icon/NoticiasIcon.png">

           <img class="imagenLogo" (click)="irEventos()" src="assets/icon/EventosIcon.png">
        
    </div>


    <div class="contenedor">

          <img  class="imagenLogo" (click)="irEmpleos()" src="assets/icon/Empleos.png">
      
          <img  class="imagenLogo" (click)="irAmarillas()" src="assets/icon/AmarillasIcon.png">
          
          <img  class="imagenLogo" (click)="irPromociones()" src="assets/icon/Promociones.png">
      
              
    </div>


   
 
<!--

    <img src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FCundinoticias.png?alt=media&token=59f0701f-91d0-4795-ab1e-7b2c08317f6b" (click)="irNoticias()">
    <img src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FCundieventos.png?alt=media&token=f741dd23-d44b-48a0-85eb-6f359e96d8d7" (click)="irEventos()">
    <img src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FCundiamarillas.png?alt=media&token=f4b9b296-68f8-499e-ba93-991f54add8c7" (click)="irAmarillas()">
    <img src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FCundiempleo.png?alt=media&token=5ff95ad0-92df-4caf-892d-f494c3d294f2" (click)="irEmpleos()">-->
    <button (click)="irPublicar()" full ion-button>Publicar</button>

    <button (click)="cerrarSesion()" full ion-button>Cerrar sesion</button>
  </div>
</ion-content>
