page-home {

}

.imagenLogo{
	width:41.5%;
	padding :0.7rem;
	margin :0.1rem;
}

.fuente-blanco{
	color:white;
}
.fuenteMenu{

	color: #93959B ; 
}
.fondoMenu{
	background-color: #131a21;
}
.texto-margen-izquierda{

	margin-left:1.5rem;
}

.bordeMenu{
   border-style: solid !important;
    border-color: red !important;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


.divContenido {
	text-align: justify !important;
    text-justify: inter-word !important;
    margin: 14px !important;
}

.tituloNoticia {

	padding-left : 10px !important;
	font-weight: bold;
	font-size:9pt;
	display:flex;
	overflow :hidden !important;

}

.municipioNoticia {

	padding-left : 10px !important;
	font-weight: bold;
	font-size:7pt;

}

.descripcionNoticia{

	padding-left : 10px !important;
	//font-weight: bold;
	justify-text:center;
	font-size:7pt;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	overflow: hidden;
	height: 32pt;
}


.descripcionNoticiaDetalle{

	padding-left : 10px !important;
	//font-weight: bold;
	justify-text:center;
	font-size:7pt;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	
	//height: 32pt;
}

.iconoHome {
	 padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/home.png');
}

.iconoFavoritos {
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/favoritos.png');
}

.iconoBusqueda{
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/buscar.png');
}

.iconoCerrarSesion{
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/cerrar.png');
}


.iconoPerfil{
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/perfil.png');
}

.iconoNoticias{
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/noticias.png');
}

.iconoEventos{
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/eventos.png');
}

.iconoCundinamarca{
    padding:2px;
	width:25px;
	height:25px;
	content :url('../assets/icon/Gris/cundinamarca.png');
}
