<!--
  Generated template for the CundiNoticiasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar  color="colorNoticias">
      <ion-buttons left >
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
        </ion-buttons>

        <ion-title>Todos las noticias</ion-title>
        
        <ion-buttons end>
            <!--<button ion-button  icon-only >
              <ion-icon name='search'></ion-icon>
            </button>-->
              <button ion-button  icon-only (click)="mostrarFiltro()">
              <ion-icon name='funnel'></ion-icon>
            </button>
        </ion-buttons>
  </ion-navbar>
   <div  *ngIf="mostrarBusqueda">
      
    <ion-item >
      <ion-label>Buscar por municipio</ion-label>
      <ion-select multiple="false " [(ngModel)]="uidMunicipio" (ionChange)="filtraMunicipios()">
        <ion-option *ngFor="let muni of municipios" value="{{muni.id}}">{{muni.municipio}}</ion-option>
      </ion-select>
    </ion-item>


  <!--  <ion-item >
      <ion-label >Buscar por tipo evento</ion-label>
      <ion-select multiple="false" [(ngModel)]="uidCategoria" (ionChange)="filtraCategoria()">
        <ion-option *ngFor="let muni of categoriasEventos" value="{{muni.id}}">{{muni.nombre}}</ion-option>
      </ion-select>
    </ion-item>-->
    
        <button center full (click)="reiniciarBusqueda()" color="colorNoticias" small ion-button>borrar filtros</button>
  
  </div>
</ion-header>

 

<ion-content  >
<!--
  <ion-card *ngFor="let noti of noticias ">
    <div (click)="detalleNoticia(noti.urlImagen,noti.tituloNoticia,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcion,noti.index,noti.fechaNoticia)" class="header-noticia  seccion-noticia content-noticia " style="justify-content:space-between; margin-bottom: 2px; ">
      <span class="titulo-blanco fuente-light fuente-15">{{noti.tituloNoticia}}</span>
    </div>

    <img (click)="detalleNoticia(noti.urlImagen,noti.tituloNoticia,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcion,noti.index,noti.fechaNoticia)"  [src]="noti.urlImagen" />


    <div class="header-noticia  seccion-noticia content-noticia " style="justify-content:space-between; margin-bottom: 2px; ">
       <div (click)="detalleNoticia(noti.urlImagen,noti.tituloNoticia,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcion,noti.index,noti.fechaNoticia)"  class="wrapper-perfil-noticias">
        <img class="img-circle-perfil-noticias" [src]="noti.urlImagenCreador">
      </div>
      <span (click)="detalleNoticia(noti.urlImagen,noti.tituloNoticia,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcion,noti.index,noti.fechaNoticia)"  class="titulo-blanco fuente-light fuente-15 nombreNoticia">{{noti.nombreUsuario}} </span>

      <div class="wrapper-perfil-noticias">
        <img class="img-circle-perfil-noticias" (click)="compartir(noti.urlImagen)" src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FAdelante.png?alt=media&token=766ba620-d6b6-4f4c-9064-052156add930">
      </div>
    </div>

    <br>
    <label>Fecha {{noti.fechaNoticia}}</label>
  </ion-card>

-->


  <ion-card *ngFor="let noti of noticias ">
   
   <ion-item>
                <ion-avatar item-start>
                  <img [src]="noti.urlImagenCreador">
                </ion-avatar>
                <h2>{{noti.nombreUsuario}}</h2>
                <p>{{noti.fechaNoticia}}</p>
              </ion-item>
  <div class="contenedor-foto-info">
    <img (click)="detalleNoticia(noti.urlImagen,noti.tituloNoticia,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcion,noti.index,noti.fechaNoticia,noti.fotos)"  [src]="noti.urlImagen" />
</div>
     <!--<ion-card-title>
    {{noti.tituloNoticia}}
      </ion-card-title>-->
      <div class="divContenido">
      <span class="tituloNoticia">
        {{noti.tituloNoticia}}
      </span>
    
      
      <span class="municipioNoticia">{{noti.nombreMunicipio}}</span><span class="descripcionNoticia">{{noti.descripcion}} </span>

      </div>
      
    
    <ion-row no-padding>
      <ion-col text-right>
        <button (click)="guardarNoticia(noti)" ion-button clear small color="colorNoticias" icon-start>
           <img  *ngIf="noti.guardado" class="iconoGuardado" />
           <img  *ngIf="!noti.guardado" class="iconoNoGuardado" />
           Favorito
        </button>
        
      </ion-col>
      <ion-col>
      <button (click)="compartir(noti.urlImagen)" ion-button clear small color="colorNoticias" icon-start>
         <img class="iconoCompartir" />
          Compartir
        </button>
      </ion-col>
    </ion-row>

  </ion-card>


</ion-content>
