<!--
  Generated template for the CundiEventosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="colorEvento" >

    <ion-buttons left >
        <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Todos los eventos</ion-title>
    
    <ion-buttons end>
        <button ion-button  icon-only >
          <ion-icon name='search'></ion-icon>
        </button>
         <button ion-button  icon-only (click)="mostrarFiltro()">
          <ion-icon name='funnel'></ion-icon>
        </button>
    </ion-buttons>
     
  </ion-navbar> 


  <div  *ngIf="mostrarBusqueda">
      
    <ion-item >
      <ion-label>Buscar por municipio</ion-label>
      <ion-select multiple="false" [(ngModel)]="uidMunicipio" (ionChange)="filtraMunicipios()">
        <ion-option *ngFor="let muni of municipios" value="{{muni.id}}">{{muni.municipio}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item >
      <ion-label >Buscar por tipo evento</ion-label>
      <ion-select multiple="false" [(ngModel)]="uidCategoria" (ionChange)="filtraCategoria()">
        <ion-option *ngFor="let muni of categoriasEventos" value="{{muni.id}}">{{muni.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    
        <button center full (click)="reiniciarBusqueda()" color="colorEvento" small ion-button>borrar filtros</button>
  
  </div>

</ion-header>


<ion-content padding>



<!--
  <div *ngFor="let noti of eventos ">
    <div (click)="detalleNoticia(noti.urlImagen,noti.tituloEvento,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcionEvento,noti.index,noti.fechaInicio,noti.fechaFin)" class="header-evento  seccion-noticia content-noticia " style="justify-content:space-between; margin-bottom: 2px; ">
      <span class="titulo-blanco fuente-light fuente-15">{{noti.tituloEvento}}</span>
    </div>
    <img (click)="detalleNoticia(noti.urlImagen,noti.tituloEvento,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcionEvento,noti.index,noti.fechaInicio,noti.fechaFin)" [src]="noti.urlImagen" />

    <div class="header-evento  seccion-noticia content-noticia " style="justify-content:space-between; margin-bottom: 2px; ">
      <div (click)="detalleNoticia(noti.urlImagen,noti.tituloEvento,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcionEvento,noti.index,noti.fechaInicio,noti.fechaFin)" class="wrapper-perfil-noticias">
        <img class="img-circle-perfil-noticias" [src]="noti.urlImagenCreador">
      </div>
      <span (click)="detalleNoticia(noti.urlImagen,noti.tituloEvento,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcionEvento,noti.index,noti.fechaInicio,noti.fechaFin)" class="titulo-blanco fuente-light fuente-15 nombreNoticia">{{noti.nombreUsuario}} </span>
      <div class="wrapper-perfil-noticias">
        <img class="img-circle-perfil-noticias" (click)="compartir(noti.urlImagen)" src="https://firebasestorage.googleapis.com/v0/b/laguiacolombia-5e516.appspot.com/o/artes%2FFacebook.png?alt=media&token=8b18ce31-779c-4d24-a944-f1cbc688ede7">
      </div>
    </div>
    <br>

  </div>-->


  <div *ngFor="let noti of eventos ">

        <ion-card>

          <ion-item>
                <ion-avatar item-start>
                  <img [src]="noti.urlImagenCreador">
                </ion-avatar>
                <h2 class="fuente-naranja">{{noti.nombreUsuario}}</h2>
                <p>{{noti.fechaInicio}} - {{noti.fechaFin}}</p>
              </ion-item>

         <img (click)="detalleNoticia(noti.urlImagen,noti.tituloEvento,noti.nombreUsuario,noti.urlImagenCreador,noti.descripcionEvento,noti.index,noti.fechaInicio,noti.fechaFin)" [src]="noti.urlImagen" />
         
          <div class="divContenido">
                <span class="tituloNoticia">
                  {{noti.tituloEvento}}
                </span>
                
                <span class="municipioNoticia">Bogota</span><span class="descripcionNoticia">{{noti.descripcionEvento}} </span>

              </div>

          <!--<ion-item>
            <ion-icon name="wine" item-left large ></ion-icon>
            <h2>Institute of Fine Cocktails</h2>
            <p>14 S. Hop Avenue, Madison, WI 453703</p>
          </ion-item>-->
          <ion-row no-padding>
                  <ion-col text-right>
                    <button (click)="guardarEvento(noti)" ion-button clear small color="colorEvento" icon-start>
                      <img  *ngIf="noti.guardado"  class="iconoGuardadoEvento" />
                      <img  *ngIf="!noti.guardado" class="iconoNoGuardadoEvento" />
                       Favorito
                    </button>
                    
                  </ion-col>
                  <ion-col>
                  <button (click)="compartir(noti.urlImagen)" ion-button clear small color="colorEvento" icon-start>
                     <img class="iconoCompartirEvento" />
                      Compartir
                    </button>
                  </ion-col>
                </ion-row>
        </ion-card>

  </div>


</ion-content>
